{% load static %}
<!DOCTYPE html>

<html ng-app="app">
    <head>
        <meta charset="utf-8">
        <title>Angular Sample</title>

        <!--  Angular Setup -->
        <div ng-controller="MainCtrl">
                {% verbatim %}
            <ul>
                <li ng-repeat="item in items">
                    {{ item }}
                </li>
            </ul>
            {% endverbatim %}
          </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular-resource.js"></script>
        <script src="{% static "index.module.js" %}"></script>
        <script src="{% static "index.controller.js" %}"></script>      
    </head>
    <body>
        <!-- The dynamic templates will be served within this div -->
        <ui-view></ui-view>
    </body>
</html>
